#board {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
#hud {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
body {
    background: #000000;
}